@import 'variables';

body {
  font-family: $font;
  color: $fontColor;
  background-color: $backgroundColor;
  font-size: 14px;

  padding: 0;
  margin: 0;
}

h1 {
  font-size: 1200%;
  text-align: center;
  margin: 1.5em 0 0 0;
}

h2 {
  font-size: 250%;
  text-align: center;
  margin: 0;
  padding: 0;
}

hr {
  margin: 10em 33% 5em 33%;
  background-color: #aaa;
  height: 1px;
  border: none;
}

section.founder {
  display: inline-block;
  width: 30%;
  vertical-align: middle;
  text-align: center;
  font-family: $fontLight;

  h1 {
    font-family: $font;
    font-size: 200%;
    margin: 0.25em 0;
    padding: 0;
  }

  h2 {
    font-size: 150%;
    margin: 0 0 0.5em 0;
    padding: 0;
  }

  h3 {
    font-size: 150%;
    margin: 0;
    padding: 0;
  }

  a {
    text-decoration: none;
    color: $fontColor;
  }

  img {
    width: 8em;
    border: 0.25em solid $fontColor;
    border-radius: 8em;
    margin: 0;
  }

  &#kofi {
    margin: 4em 18% 8em 0;
  }

  &#clint {
    margin: 4em 0 8em 18%;
  }
}

@for $i from 14 through 24 {
  @media screen and (min-width: $i * 100px) {
    body {
      font-size: $i + 0px;
    }
  }
}
